h1{
	font-size:10px;
	color:#f00;
}

h1{
	font-size:14px;
	color:#0f0;
}

h1{
	font-size:18px;
	color:#00f;
}

h1{
	font-size:22px;
	color:#ff0;
}

h1{
	font-size:26px;
	color:#f0f;
}

h1{
	font-size:30px;
	color:#0ff;
}

